# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Secret files
.env
.env.*
streamlit/secrets.toml
.streamlit/secrets.toml
PROJECT 2/app/config.py

# Environment variables
.env
.env.*

# Streamlit secrets
streamlit/secrets.toml
.streamlit/secrets.toml

# VSCode
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
*.pyd
*.so
*.dll

# Configs
PROJECT 2/app/config.py
